@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    NEUCA S.A.<br />
    Toruń, 87-100<br />
    <abbr title="Phone">P:</abbr>
    56 669 40 00
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:Support@example.com">neuca@neuca.pl</a><br />
</address>